

<div class="content flex">

  <div class="govuk-form-group">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

        Turn on two-factor authentication

      </legend>

      <div class="govuk-radios">

        <div class="govuk-radios__item" id="authappRadioSelection">
          <input class="govuk-radios__input" type="radio" name="auth_app" value="QR" id="auth_app" [(ngModel)]="formValue">
          <label class="govuk-label govuk-radios__label" for="auth_app">
            Authenticator app
          </label>

        </div>

        <div class="govuk-radios__item" id="smsRadioSelection">

          <input class="govuk-radios__input" type="radio" name="auth_text" checked="checked" id="auth_text" value="SMS" [(ngModel)]="formValue">

          <label class="govuk-label govuk-radios__label" for="auth_text">

            Text message

          </label>

        </div>


      </div>

    </fieldset>

  </div>

  <button id="mfaenroll" class="btn btn-primary btn-margin" (click)="gotoMfa(formValue)">

    Continue

  </button>

</div>