input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

a{
  text-decoration: underline;
}

.pagination-area {
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    font-size: 19px;
    margin-right: 10px;
    a {
      text-decoration: none;
    }
  }
}

.active {
  cursor: default;
  color: #6f777b;
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: #6f777b;
}


.table-radio-checkbox{
  width: 20px;
  height: 20px;
}